.wrap{
    background-color:#f3f3f3;
}
.navigation{
    background-color:lightgrey;
    width: 15em;
    padding-bottom: 5px;
    padding-top: 5px;
    float: left;
}
.clear{
    clear: both;
}
.text{
    background-color: gray;
    padding-top: 5px;
    margin-bottom: .2em;
}
#second{
    margin-left: 15em;
}
.footer{
    background-color: lightgrey;
}